.form_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 300px;
}

.submit_btn {
  color: white;
  padding: 6px;
  background-color: var(--bg-tertiary);
  width: fit-content;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease;
  &:hover {
    scale: 1.1;
  }
}

.error_text {
  position: relative;
  color: #a33737;
  font-size: 14px;
  opacity: 1 !important;
  min-height: 21px;
  word-break: break-all;
}

.field_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label_text {
  color: white;
}
