.toolbar {
  position: fixed;
  left: 50%;
  display: flex;
  z-index: 50;
  background-color: white;
  transform: translate(-50%, -30px);
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 300ms ease;

  &:hover {
    transform: translate(-50%, 0px);
  }
}

.toolbar_btn {
  border-right: 2px var(--bg-secondary) solid;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: all 300ms ease;

  &:hover {
    background-color: red;
  }
}

.logo {
  padding: 10px;
}
