.modal_container {
    position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    background: var(--bg-secondary);
    min-width: 300px;    
    z-index: 50;
    padding: 24px;
    border-radius: 20px;
}
.modal_title {
    font-size: 24px;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}