.modal_container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-secondary);
  min-width: 300px;
  z-index: 50;
  padding: 24px;
  border-radius: 20px;
}
.modal_title {
  font-size: 24px;
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
}

.close_btn {
  position: relative;
  width: 25px;
  margin-left: auto;
  height: 15px;
  cursor: pointer;
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: -5px;
    width: 3px;
    transform: rotate(45deg);
    height: 20px;
    background: white;
  }
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: -5px;
    width: 3px;
    transform: rotate(-45deg);
    height: 20px;
    background: white;
  }
}
